body{background-color:#99ccff;
	background-image: url("http://365psd.com/images/premium/thumbs/220/cloud-seamless-pattern-on-blue-background-vector-illustration-971538.jpg");
background-size: 200px; 
  
font-family: 'Fredoka One', cursive;}


.navbar{background-color:white; margin:0; padding-top: 25px; padding-right: 50px;}
.navbar ul{padding-left: 250px; }
.navbar li{ padding-left:25px; padding-right: 25px}
